* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 500px;
  background-color: cornflowerblue;
}

.header {
  text-align: center;
  color: white;
  height: 50px;
  padding: 5px;
  margin-bottom: 30px;
}

h1 {
  margin: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.596);
  font-size: 40px;
}

legend {
  background-color: rgb(238, 161, 45);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.596);
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  padding: 2px 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.596);
  border-style: dotted;
  border-color: rgb(158, 10, 10);
}

.form {
  background-color: rgb(238, 161, 45);
  border-style: dotted;
  border-color: rgb(158, 10, 10);
  border-radius: 10px;
  width: 600px;
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
  
}

.formCont {
  margin: 2px;
  padding: 5px;
  border: 10px; 
}

section label, input, select {
  margin: 3px;
  padding: 3px;
  border: 10px;
  border-radius: 5px;
  color: white;
}

.date {
  cursor: pointer;
}

.gender {
  cursor: pointer;
}

.btn {
  border-radius: 5px;
  padding: 2px, 5px;
  margin: 5px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.btn-clear:hover {
  color: rgb(238, 45, 45);
}

.btn-send:hover {
  color: rgb(7, 160, 40);
}

.form-footer {
  margin-top: 10px;
  float: right;
}

.footer {
  color: rgb(66, 66, 66);
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.596);

}